public--uploads--advising-notes-starred {
	background: url(svg/sprite.css-6cc139a1.svg) 0 0 no-repeat;
}

public--uploads--advising-notes-starred-dims {
	width: 14.6px;
	height: 15.7px;
}

public--uploads--advising-notes-unstarred {
	background: url(svg/sprite.css-6cc139a1.svg) 94.8051948051948% 0 no-repeat;
}

public--uploads--advising-notes-unstarred-dims {
	width: 14.6px;
	height: 15.7px;
}

