.svg-public--uploads--4d5648315b80d0f4522e1d6edbd007d9 {
	background: url(svg/sprite.css-e5a84df1.svg) 15.688073394495415% 72.27722772277228% no-repeat;
}

.svg-public--uploads--4d5648315b80d0f4522e1d6edbd007d9-dims {
	width: 12px;
	height: 12.2px;
}

.svg-public--uploads--687bb465362e2bd6ccfe3381ae2c4c4e {
	background: url(svg/sprite.css-e5a84df1.svg) 0 0 no-repeat;
}

.svg-public--uploads--687bb465362e2bd6ccfe3381ae2c4c4e-dims {
	width: 230px;
	height: 29.2px;
}

.svg-public--uploads--81d5e8b153cf177cdd00eacc1bc8b4ad {
	background: url(svg/sprite.css-e5a84df1.svg) 21.192660550458715% 72.09876543209876% no-repeat;
}

.svg-public--uploads--81d5e8b153cf177cdd00eacc1bc8b4ad-dims {
	width: 12px;
	height: 12px;
}

.svg-public--uploads--c5fff9327e767db9caf11df3ebdd710d {
	background: url(svg/sprite.css-e5a84df1.svg) 0 45.76802507836991% no-repeat;
}

.svg-public--uploads--c5fff9327e767db9caf11df3ebdd710d-dims {
	width: 230px;
	height: 29.2px;
}

.svg-public--uploads--fcf816e5e60a08102a7412eaa8814c2f {
	background: url(svg/sprite.css-e5a84df1.svg) 0 99.15110356536503% no-repeat;
}

.svg-public--uploads--fcf816e5e60a08102a7412eaa8814c2f-dims {
	width: 34.2px;
	height: 34.1px;
}

