.svg-advising-notes-starred {
	background: url(svg/sprite.css-a77fe764.svg) 0 0 no-repeat;
}

.svg-advising-notes-starred-dims {
	width: 14.6px;
	height: 15.7px;
}

.svg-advising-notes-unstarred {
	background: url(svg/sprite.css-a77fe764.svg) 94.8051948051948% 0 no-repeat;
}

.svg-advising-notes-unstarred-dims {
	width: 14.6px;
	height: 15.7px;
}

.svg-orange_pencil {
	background: url(svg/sprite.css-a77fe764.svg) 0 99.36708860759494% no-repeat;
}

.svg-orange_pencil-dims {
	width: 12px;
	height: 12.2px;
}

